h1{
	color: red;
}
.boobs{					/*свойства контейнера*/
	width: 50%; 		/*ширина контейнера*/
	height: 100%;		/*высота контейнера*/
	color: green;		/*цвет текста внутри контейнера*/
    background: #fc0; 	/*цвет фона у контейнера*/
    /*padding: 50px;    /*отступ текста от границ контейнера*/
    border: solid 2px black; /*граница по контуру контейнера*/
    /*float: left;*/
    /*position: relative;   /*fixed- зафиксировано поверх страницы в "голове"*/
    /*top: 0px; 
    left: 50%;*/
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
    
	
	/*width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;*/
    
}
.text{
	color: red;
}	
.s1{
	width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    align-content: flex-end; 
    justify-content: center; 
    overflow: auto;
}
.boobs p{
	color: blue;
	background: white;
	border: solid 3px green;
	height: calc(100% - 5px);
}
/*PART_6*/
.table_random{
	border-collapse: collapse; /*склеивает границы*/
	background-color: yellow;
	/*border-left  - граница слева*/
	border-collapse: separate; /*расклеивает границы*/
	border-spacing: 5px; /*задает расстояние между границами*/
}
.table_random td{
	padding: 10px; /*padding {***-left}  - отступ внутри ячейки слева*/
	border: solid 2px blue;
	vertical-align: top; /*выравнивание по вертикали*/
	text-align: left;		/*выравнивание по горизонтали*/
}
caption{
	caption-side: bottom; /*{top,bottom}*/
    text-align: right; /*{left,right,center}*/
}
/*PART_11*/
details p{
    margin: 1px;
    padding: 2px;
    border: solid 1px;
    width: 100px;
    text-align: center;}
ruby{
    font-size: 20px;}
rt{
    padding: 2px;
    color: #E5C384FF;
    background-color: #E0E0E0FF;}

/*CSS/CSS3 CODEBRA + Гоша Дударь*/
  /* Термины: 
    h2{} - селекторы (классы, теги, iD)
      h2{} - тег
      .claSS{} - класс
      #iD{} - идентификатор
    h2{color:blue;}
      color - свойство
      blue - значение
    *{} - применяется АБСОЛЮТНО ко всему документу
    div.claSS{} - все div с классом claSS
    div .class{} - все классы claSS которые находятся в div
    h2 i{} - все i, которые вложены в h2 (КОНТЕКСТНЫЕ) - {все и дочерние и потомки}
    h2>i{} - все i, которые вложены в h2 - {ТОЛЬКО дочерние}
    h2, p, i.claSS, #iD{} - для всех h2, p, всех i с классом claSS, для идентификатора iD
    *[title]{} - все <теги>, которые имеют атрибут title
    a[alt]{} - все <a>, которые имеют атрибут alt
    a[alt][title]{} - все <a>, которые имеют атрибут alt И title
    a[alt="картинка"]{} - все <a>, которые имеют атрибут alt со значением "картинка"
    a[title ~="физик"]{} - все <a>, которые имеют в теге <title> слово "физик" {учитывает РЕГИСТР!}
        ^= - начинаются с символов
        $= - заканчивается символами
        *= - содержит в слове символы
???     |= - "примерно аналогичен" *=
    p{color: green !important;} - повышает приоритет стиля (при одинаковых - последний)
    color: rgb(255,0,0); - значения:
                        от 0 до 255 (только целые)
                        от 0% до 100% (и целые и дробные)
    color: #D73427; - шестнадцатиричный (0-F) формат (HEX) #RRGGBB, примеры: 
                        #000 -> #000000 
                        #123 -> #112233
                        #0FB -> #00FFBB
!!!  color: rgba(255,0,0,0.25); - добавлена прозрачность в CSS3 (от 0 до 1.0)   !!!Осторожно со свойствами background и background-color
!!!  color: #D7342777; - аналогично rgba (#RRGGBBAA), AA - от 0 до 255(00-ff)
    Еденицы измерения:
        абсолютные {in,cm,mm,pt,pc}
        относительные {px,em,en} 
    background-image: url(); - фоновая картинка
    text-indent: 1.1em; - Отступ текста...
    text-transform: capitalize; - каждая первая буква слова ЗАГЛАВНАЯ
            - uppercase - все ЗАГЛАВНЫЕ
            - lowercase - все строчные
            - none - без изменеий
    word-spacing:; - расстояние м/ж словами
    letter-spacing:; - расстояние между буквами
    line-height:; - расстояние между строками
    


    псевдоэлементы:
      h2.claSS:first-letter{} - первая буква в h2 с классом claSS
      __:first-line{} - первая линия/предложение
      __:first-child{} - первый элемент/тег
      __:before{content:'значение';} - перед первым элементом
      __:after{} - после последнего элемента
    псевдоклассы:
      a:link{} - все ссылки (ТОЛЬКО к ссылкам)
      a:visited{} - все посещенные ссылки (ТОЛЬКО к ссылкам) 
            ограниченные свойства{color, background-color, border-color, column-rule-color, outline-color}
      __:hover{} - при наведении на элемент
      __:active{} - в момент нажатия на элемент

Подключение шрифта локального (кроссбраузерный):
    @font-face {
        font-family: 'Open Sans';
        src: url('open_sans.eot');
        src: url('open_sans.ttf') format('truetype'),
             url('open_sans.woff') format('woff');
        font-weight: normal;
        font-style: normal;
}

  */
  .block{
    width: 200px;
    height: 200px;
    background-color: #983CC2FF;
    transition: all .8s;
  }
  .block:hover{
    width: 300px;
    height: 300px;
    background-color: #BE32FFFF;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.5;

  }
  a.linkS{
    color: green;
    text-decoration: line-through; /*{underline,none,blink,line-through,overline}*/
  }
  a.linkS:hover, .linkSa:hover{
    color: #00E000FF;
    text-decoration: none;
    font-style: italic;}
  .block:active{
    background-color: blue;}
  a.linkS:visited{
    color:#15C524D2;}
/*все дочерние в <p> включая всех потомков*/
.par0 div p b{
    color: brown;}
/*все дочерние в <b> включая всех потомков*/
.par0 div b{
    font-style: italic;}
/*все дочерние в <b> (ТОЛЬКО дочерние)*/
.par0 div>b{
    font-size: 20px;}
/*выбор именно <b>, который стоит СРАЗУ! после <p> {ищет все пары тегов}*/
.par1 p+b {
    color: green;}
/*выбор именно <p>, который стоит СРАЗУ! после <p>, который стоит СРАЗУ! после <b>*/
.par1 b+p+p {
    font-size: 22px;}

/*Сылки, псевдоклассы и псевдоэлементы*/
.CSS_href a:link{
    font-size: 8pt;
    height: 2em;
    padding: 2px;
    color: yellow;
    font-style: italic;
    background-color: magenta;
    border: solid 2px green;
    text-decoration: none;}
.CSS_href a:visited{
    color: grey;
    background-color: pink;
    border-color: blue;}
.CSS_href a:hover{
    margin: 5px;
    color: white;
    font-style: oblique;
    background-color: black;
    border: dotted 4px #4CFF00DB;}
.par1 p:hover:first-letter{
    color: brown;
    font-size: 2em;}
.par1 p:hover:after{
    content: ' - так-то';
    font-size: 0.75em;
    color: green;}
.par1 {
    background-image: url(https://st.depositphotos.com/1005738/1413/v/950/depositphotos_14137279-stock-illustration-christmas-blue-snowflakes-background.jpg) ;
    /*можно заменить следующим:*/
    background: url(https://media.istockphoto.com/photos/lilac-flowers-on-white-wooden-background-top-view-flat-lay-picture-id538558702)
    no-repeat center top /*/cover*/ #14F509A1;
    width: 100%;}
div.static img.raven {
    width: 20%;
    position: static;
    padding: 20px;
    opacity: 0.5;
    right: 20px;
}
div.absolute img.raven {
    width: 20%;
    position: absolute;
    padding: 20px;
    opacity: 0.75;
    margin-top: 10px;
    right: 20px;
}
#icon {
    width: 70px;
    position: absolute; /*относительно всего окна браузера*/
    top: bottom;
    right: 5px;
    border: solid 1px #F00EE96D;
    background-color: #BCBCBCBF;
}
#icon1 {
    width: 70px;
    position: fixed; 
    top: bottom;
    align-items: center;
    border: solid 1px #F00EE96D;
    background-color: #BCBCBCBF;
}
/* --------------------------------------------- */
.container {
    position: relative;
    margin: 200px auto;
    width: 400px;
    height: 400px;
    perspective: 1000px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    background-color: coral; */
}
 .hexagon {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1, 1, 45deg);
}
.side {
    position: absolute;
    width: inherit;
    height: inherit;
    font: normal 70px Arial;
    text-align: center;
    font-style: italic;
    line-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    width: 200px;
    height: calc(1.732*200px);
    border-bottom: solid 5px black;
    border-top: solid 5px black;
}
.line:nth-child(2) {
    transform: rotate(-120deg);
    transform-origin: center center;
}
.line:nth-child(3) {
    transform: rotate(120deg);
    transform-origin: center center;
} 
.front {
    color: blue;
    transform: translateZ(200px);
}
.back {
    transform: rotateY(180deg) translateZ(200px);
}